{% extends 'base.html' %}
{% block content%}
<div class="container-fluid" id="home">

    <div class="col-md-12 text-center">

        <h3 id="introduction">In life, you only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use your 1 minute to actually say something meaningful?</h3>

        <a href=""><button type="button" class="btn" id="start">Lets Get Started</button></a>
    </div>

    <div class="row">
        <div class="col-sm-4" id="product">
            <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <h4 class="card-title">Product Pitches</h4>
                    <p class="card-text text-center">"specifically focused on a product or service. You'll go in-depth and emphasize how your product works, how it will solve their pain points, and the specific benefits it will bring to your customers."</p>

                    <a href=""><button type="button" class="btn btn-outline-info">View Product Pitches</button></a>
                </div>
            </div>
        </div>


        <div class="col-sm-4" id="lines">
            <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <h4 class="card-title">PickUp Lines</h4>
                    <p class="card-text text-center">"What do you say we bounce like a bad email? lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad"</p>

                    <a href=""><button type="button" class="btn btn-outline-info">View Pick Up Lines Pitches</button></a>
                </div>
            </div>
        </div>


        <div class="col-sm-4" id="product">
            <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <h4 class="card-title">Sales Pitch</h4>
                    <p class="card-text text-center">"A sales pitch is a salesperson's attempt to persuade their audience to buy or believe what they're offering. That offer might be the chance at another meeting, information on your product or service you."</p>

                    <a href=""><button type="button" class="btn btn-outline-info">View Sales Pitches</button></a>
                </div>
            </div>
        </div>


        <div class="col-sm-4" id="Interview">
            <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <h4 class="card-title">Interview Pitch</h4>
                    <p class="card-text text-center">"It's a brief, 30 – 60 seconds pitch (or speech) that gets attention and makes the interviewer genuinely interested in you.Its your job to make it count with the minute you have"</p>

                    <a href=""><button type="button" class="btn btn-outline-info">View Interview Pitches</button></a>
                </div>
            </div>
        </div>

        <div class="col-sm-4" id="product">
            <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <h4 class="card-title">Promotion Pitch</h4>
                    <p class="card-text text-center">"You want to be taken seriously when you pitch a promotion, so gather information to demonstrate that you are worthy of a promotion, and to explain why you think you deserve it."</p>

                    <a href=""><button type="button" class="btn btn-outline-info">View Promotion Pitches</button></a>
                </div>
            </div>
        </div>

        <div class="col-sm-4" id="product">
            <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <h4 class="card-title">Business Pitch</h4>
                    <p class="card-text text-center">"A business pitch is a business plan that you present to your potential investors to secure funding. The pitch helps you explain your business to investors to enable them to make the right decisions.."</p>

                    <a href=""><button type="button" class="btn btn-outline-info">View Business  Pitches</button></a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock%}