{% block content%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#"><i class="fa-solid fa-ranking-star"></i> IMP<span id="color">RESS</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="#">Pickup Lines</a>
                <a class="nav-link" href="#">Interview Pitch</a>
                <a class="nav-link" href="#">Promotion Pitch</a>
                <a class="nav-link" href="#">Sales Pitch</a>
                <a class="nav-link" href="#">Business Pitch</a>
            </div>

            <div class="navbar-nav">
                <button type="button" class="btn ms-auto" id="login-btn">Login</button>
                <button type="button" class="btn"id = "logout-btn">Logout</button>
            </div>
        </div>
    </div>
</nav>

{%endblock%}